<div class="container-fluid">
  <div class="row">
    <% if logged_in? %>
  <%= render "logout" %>
    <% else %>
    <div class="top-menu">
      <input type="checkbox" class="checkbox__hack" id="checkbox__hack">
    <label for="checkbox__hack" class="checkbox-hack__label"></label>
      <nav class="nav">
        <ul class="nav__list">
          <li class="nav__item"><a href="/login">Mi cuenta</a></li>
          <li class="nav__item"><a href="/signup">Registrarse</a></li>
        </ul>
      </nav>
    </div>
    <% end %>
</div>


<div class="row">
  <div class="col-md-12 portada-text">
    <div class="img-back"></div>
    <p class="text-an-o">¿Quieres saber como es tu zona?</p>
    <p class="text-an-s">¿Saber lo que opinan los que viven en esa zona?</p>
    <p class="text-an-t">¿La zona que buscas es segura?</p>
    <p class="text-an-f">¿Tienes todos los servicios mínimos?</p>
    <p class="text-an-g">REGISTRATE Y AVERIGUALO!</p>
  </div>
  </div>
<script>

$(function() {
  $('a[href*="#"]:not([href="#"])').click(function() {
    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
      var target = $(this.hash);
      target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
      if (target.length) {
        $('html, body').animate({
          scrollTop: target.offset().top
        }, 1000);
        return false;
      }
    }
  });
});
</script>
<div class="row">
  <div class="" style="position: relative;
    text-align: center;
    top: 20px;">
  <a href="#index-content" style="left: 50%;"><img src="assets/arrow.png" alt="" /></a>
  </div>
</div>
<div class="row">
<div class="col-md-12" id="index-content" style="margin-top:220px;">
  <h1 style="text-align:center">Descúbrelo</h1>
  <div class="searcher" style="padding:20px 20px;">
    <!-- <form class="form-inline" method="post"> -->
        <div id='container'>
          <div id='gmaps-canvas'></div>
              <div class="container-buttons">
                <div id='input'>
                  <input id='gmaps-input-address' placeholder='Busca tu zona' type='text' />
                <button type="button" name="button" class="buttons-filter">Precio</button>
                <button type="button" name="button" class="buttons-filter">Tranquilidad</button>
                <button type="button" name="button" class="buttons-filter">Seguridad</button>
                <button type="button" name="button" class="buttons-filter">Transporte</button>
              </div>
            <div id='gmaps-error'></div>
          </div>
        </div>
</div>
    <!-- </form> -->
    <!-- End form-->
    <div class="contingut-ext">

    </div>
  </div>
</div>
</div>
<footer>
    <p class="footer-text">
      Todos los derechos reservados
    </p>
</footer>
<!-- <script src="assets/maps/maps.js" charset="utf-8"></script> -->
