<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
    <h1>Registro</h1>
    <p>Nombre: <%= current_user.username %></p>
    <p>Email: <%= current_user.email %></p>
    </div>
    <div class="col-md-6">.col-md123-6</div>
</div>
</div>
