<%= render "logout" %>
  <div class="col-md-4">
      <h1>Registro</h1>
    <nav>
      <p>Nombre: <%= current_user.username %></p>
      <p>Email: <%= current_user.email %></p>
    </nav>
  </div>
<div class="col-md-6">
  <div class="card-form">
    <form class="" action="" method="post" id="formulario">
    <fieldset>
      <h2 class="fs-title">Evalua tu calle</h2>
      <h3 class="fs-subtitle">Paso 1</h3>
      <select class="" name="">
        <option value="ciutatvella">Ciutat Vella</option>
        <option value="Eixmaple">Eixample</option>
        <option value="gracia">Gràcia</option>
        <option value="horta">Horta Guinardó</option>
        <option value="lescorts">Les Corts</option>
        <option value="noubarris">Nou Barris</option>
        <option value="santandreu">Sant Andreu</option>
        <option value="santmarti">Sant Martí</option>
        <option value="sants">Sants-Montjuïc</option>
        <option value="sarria">Sarrià-Sant Gervasi</option>
      </select>
      <br>
      <br>
      <input type="text" name="calle" value="" placeholder="Calle" />
      <br>
      <input type="text" name="numero" value="" placeholder="numero" />
      <br>
      <input type="text" name="cp" value="" placeholder="Codigo postal" />
      <br>
      <textarea name="name" rows="8" cols="40"></textarea>
      <input type="button" name="next" value="Siguiente" class="next action-button">
    </fieldset>

    <fieldset>
      <h2 class="fs-title">Evalua tu zona</h2>
      <h3 class="fs-subtitle">Paso 2</h3>
      <br>
      <label>Como definirias tu zona?</label>
      <br>
      <label>Peligrosa</label>
      <br>
      <label>Tranquilidad</label>
      <br>
      <label>Limpia</label>
      <br>
      <label>Ruido</label>
      <br>
      <label>Transporte publico</label>
      <br>
      <input type="button" name="previous" value="Previo" class="previous action-button">
      <input type="button" name="next" value="Siguiente" class="next action-button">
    </fieldset>

    <fieldset>
      <h2 class="fs-title">Evalua tu zona</h2>
      <h3 class="fs-subtitle">Paso 2</h3>
      <br>
      <label>Vivienda(compra)</label>
      <br>
      <label>Vivienda(Alquiler)</label>
      <br>
      <label>Comercios</label>
      <br>
      <label>Nivel de vida</label>
      <br>
      <label>Supermercados</label>
      <br>
      <input type="button" name="previous" value="Previo" class="previous action-button">
      <input type="submit" name="submit" class="submit action-button" value="Submit" />
    </fieldset>
    </form>
  </div>
</div>
