<div class="row">
  <div class="col-md-5" style="background-color:lightgrey;height:930px;margin-top:-10px;z-index:-1;">
      <h1 style="position:relative;left:20px;">Registro</h1>
    <nav style="position:relative;left:20px;">
      <p>Nombre: <%= current_user.username %></p>
      <p>Email: <%= current_user.email %></p>
    </nav>
  </div>
<div class="col-md-6">
  <div class="card-form">
    <form class="" action="" method="post" id="formulario">
    <fieldset>
      <h2 class="fs-title">Queremos que evalua tu calle</h2>
      <h3 class="fs-subtitle">Paso 1</h3>
      <select class="form-control" name="">
        <option value="ciutatvella">Ciutat Vella</option>
        <option value="Eixmaple">Eixample</option>
        <option value="gracia">Gràcia</option>
        <option value="horta">Horta Guinardó</option>
        <option value="lescorts">Les Corts</option>
        <option value="noubarris">Nou Barris</option>
        <option value="santandreu">Sant Andreu</option>
        <option value="santmarti">Sant Martí</option>
        <option value="sants">Sants-Montjuïc</option>
        <option value="sarria">Sarrià-Sant Gervasi</option>
      </select>
      <br>
      <br>
      <input type="text" name="calle" value="" placeholder="Calle" />
      <br>
      <input type="text" name="numero" value="" placeholder="numero" />
      <br>
      <input type="text" name="cp" value="" placeholder="Codigo postal" />
      <br>
      <textarea name="name" rows="40" cols="80" placeholder="Comentarios"></textarea>
      <input type="button" name="next" value="Siguiente" class="next action-button">
    </fieldset>

    <fieldset>
      <h2 class="fs-title">Y ahora tu zona</h2>
      <h3 class="fs-subtitle">Paso 2</h3>
      <br>
      <label>Como definirias tu zona?</label>
      <input id="input-1" value="4.3" class="rating-loading">
      <br>
      <label>Peligrosa</label>
      <input id="input-2" value="4.3" class="rating-loading">
      <br>
      <label>Tranquilidad</label>
      <input id="input-3" value="4.3" class="rating-loading">
      <br>
      <label>Limpia</label>
      <input id="input-4" value="4.3" class="rating-loading">
      <br>
      <label>Ruido</label>
      <input id="input-5" value="4.3" class="rating-loading">
      <br>
      <label>Transporte publico</label>
      <input id="input-6" value="4.3" class="rating-loading">
        <script>
        $(document).on('ready', function(){
          $('#input-1').rating({min: 0, max: 5, step: 0.1, stars: 5});
          $('#input-2').rating({min: 0, max: 5, step: 0.1, stars: 5});
          $('#input-3').rating({min: 0, max: 5, step: 0.1, stars: 5});
          $('#input-4').rating({min: 0, max: 5, step: 0.1, stars: 5});
          $('#input-5').rating({min: 0, max: 5, step: 0.1, stars: 5});
          $('#input-6').rating({min: 0, max: 5, step: 0.1, stars: 5});
        });
        </script>
      <br>
      <input type="button" name="previous" value="Atras" class="previous action-button">
      <input type="button" name="next" value="Siguiente" class="next action-button">
    </fieldset>

    <fieldset>
      <h2 class="fs-title">Evalua tu zona</h2>
      <h3 class="fs-subtitle">Paso 2</h3>
      <br>
      <label>Vivienda(compra)</label>
      <br>
      <label>Vivienda(Alquiler)</label>
      <br>
      <label>Comercios</label>
      <br>
      <label>Nivel de vida</label>
      <br>
      <label>Supermercados</label>
      <br>
      <input type="button" name="previous" value="Atras" class="previous action-button">
      <input type="submit" name="submit" class="submit action-button" value="Enviar" />
    </fieldset>
    </form>
  </div>
</div>
</div>
