*{font-family: Helvetica;}
.container-buttons{
  position: relative;
  top:20px;
  height: 30px;
}
  .buttons-filter{
    width: 60px;
    height: 30px;
    padding:3px 3px;
    border-radius: 3px 3px;
    border: 1px solid lightgrey;
    background-color:#fff;
    color:#b9b9b9;
    position: relative;
    margin-right:10px;
    left:20px;
    font-size: .7em;
    display: inline;
  }
  .buttons-filter:hover{
    width: 60px;
    height: 30px;
    padding:3px 3px;
    border-radius: 3px 3px;;
    border: 1px solid lightgrey;
    background-color:#FF1654;
    color:#fff;
  }
  .buttons-filter:active{
    padding:10px 10px;
    border-radius: 10px 10px;
    border-top:0;
    border-left: 0;
    border: 1px solid lightgrey;
    background-color:#FF1654;
    color:#fff;
  }
  .top-menu{
    z-index: 9999;
  }
  .top-menu a{
    color:#fff;
  }
  ul {
    width: 300px;
    height: auto;
    float:right;
   }
  ul li a:hover { color:#FF1654;text-decoration: none;}
  ul li {
    color:#fff;
    list-style: none;
    display: inline-block;
    padding:17px 10px;
  }
.menu-user:after{
  content: "☰";
  color: white;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-align: center;
  position: absolute;
  font-size: 1.2em;
  left:3%;
  top:19px;
  cursor:pointer;
}
.card-form{
  width: 100%;
  height: 1028px;
}
#formulario {
  width: 100%;
	margin: 50px auto;
	text-align: center;
	position: relative;
}
#formulario fieldset {
	background: #ffffff;
	border: 0 none;
	border-radius: 3px;
	-webkit-box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 30px;
	width: 80%;
	margin: 0 10%; /*Posicionamos todos los fieldset uno encima del otro*/
	position: absolute;
}
/*Ocultamos todos menos el primer fieldset*/
#formulario fieldset:not(:first-of-type) {
	display: none;
}
/*inputs*/
#formulario input,#formulario textarea {
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 10px;
	width: 100%;
	font-family: montserrat;
	color: #2C3E50;
	font-size: 13px;
}
/*buttons*/
#formulario .action-button {
	width: 100px;
	background: #247BA0;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px;
}
#formulario .action-button:hover,#formulario .action-button:focus {
	-webkit-box-shadow: 0 0 0 2px white, 0 0 0 3px #247BA0;
	box-shadow: 0 0 0 2px white, 0 0 0 3px #247BA0;
}
/*headings*/
.fs-title {
	font-size: 15px;
	text-transform: uppercase;
	color: #2C3E50;
	margin-bottom: 10px;
}
.fs-subtitle {
	font-weight: normal;
	font-size: 13px;
	color: #666;
	margin-bottom: 20px;
}
/*#map { position:absolute; top:60px; bottom:0; width:100%; }*/
.portada-text{

  height: 700px;
}
.img-back{
  background-image:url('bcn4k.jpg');
  background-size: 100% 700px;
  width: 100%;
  height: 700px;
  position: absolute;
  top:-100px;
  z-index: -999;
}
.text-an-o{
  color:#fff;
  font-size: 5.5em;
  font-weight: bold;
  animation: text 5s;
  -webkit-animation: text 5s forwards;
  left:40px;
  top:-80px;
  position: absolute;
}
.text-an-s{
  color:#fff;
  font-size: 3.5em;
  font-weight: bold;
  animation: texts 5s 4s forwards;
  -webkit-animation: texts 5s 4s forwards;
  left:340px;
  top:130px;
  position: absolute;
  opacity: 0;
  text-shadow: 2px 2px 2px #c9c9c9;
}
@keyframes text{
  0%{opacity: 0;}
  80%{top:20px;opacity: 1;}
  100%{top:20px;opacity: 0;}
}
@-webkit-keyframes text{
  0%{opacity: 0;}
  80%{top:20px;opacity: 1;}
  100%{top:20px;opacity: 0;}
}
@keyframes texts{
  from{opacity: 0;}
  to{left:220px;opacity: 1;}
}
@-webkit-keyframes texts{
  from{opacity: 0;}
  to{left:220px;opacity: 1;}
}
