<!DOCTYPE html>
<html>
<head>
  <title>Miszonas</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
   <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %> 
   <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyARbgXcHFUSf-Ut33iz5B1tBo2ALiEy54Q&callback=gmaps_init"
  type="text/javascript"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

  <!-- jquery UI -->
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>
    <script type="text/javascript" src="assets/maps/gmaps.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
